{% extends "base.html" %}
{% block title %} {{view.kwargs.username}}'s Tasks | {{user.username}} {% endblock title %}
{% block content %}
{% include "shared/nav.html" %}

<div class="container" style="margin-top: 10px;font-size: 0.8rem">
    <div class="row">
        <div class="col-sm-6">
          <div style="height: 170px; margin:10px" class="card">
            <div class="card-body">
              <h5 class="card-title">Hello, <strong>{{user.username}}!</strong></h5>
              <p class="card-text">Today is <strong>{% now "jS F Y" %}</strong> and it is {% now "H:i" %}!</p>
              <a style="margin: 3px" href="{% url 'task-create' %}" class="btn btn-success btn-sm">New Task</a>
              <a style="margin: 3px" href="{% url 'task-home' %}" class="btn btn-primary btn-sm">Private Tasks</a>
              <a style="margin: 3px" href="{% url 'logout' %}" class="btn btn-warning btn-sm">Logout</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div  style="height: 170px; margin:10px" class="card">
            <div class="card-body">
              <h5 class="card-title">You're in <strong style="color: #35628f;">{{view.kwargs.username}}'s</strong> profile:</h5>
              <p class="card-text danger">Here you can check <strong style="color: #35628f;">{{view.kwargs.username}}'s</strong> tasks! </p>
              <a href="#" class="btn btn-secondary btn-sm">Message {{view.kwargs.username}} </a>
            </div>
          </div>
        </div>
      </div>
    
    <div style="margin-top: 15px;" class="card shadow mb-4">
      <!-- Card Header - Dropdown -->
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary"><strong style="color: #35628f;">{{view.kwargs.username}}'s</strong> tasks:</h6>
      </div>
      <!-- Card Body -->
      <div class="card-body">
      <div class="chart-area table-responsive">
        <table class="table table-striped">
      <thead class="table-dark">
      <tr>
          <th scope="col" data-toggle="tooltip" data-placement="top" title="Task importance"><i class="fas fa-bookmark"></i></th>
          <th scope="col"></th>
          <th scope="col">Task</th>
          <th scope="col">Due Date</th>
          <th scope="col">Responsable</th>
          <th scope="col"></th>
          <th scope="col">Status</th>
          <th scope="col" data-toggle="tooltip" data-placement="top" title="Departament">Dep.</th>
          <th scope="col"></th>
      </tr>
      </thead>
       <tbody>
        {% for task in object_list %}
        <tr>
          {% if task.importance == "H" %}
          <th  scope="row" data-toggle="tooltip" data-placement="top" title="HIGH"><i style="color: red" class="fas fa-bookmark"></i></th>
          {% elif task.importance == "M" %}
          <th scope="row" data-toggle="tooltip" data-placement="top" title="Medium"><i style="color: orange" class="fas fa-bookmark"></i></th>
          {% else %}
          <th scope="row" data-toggle="tooltip" data-placement="top" title="Low"><i style="color: purple" class="fas fa-bookmark"></i></th>
          {% endif %}
          {% if task.author == user %}
          <th scope="row"><a href="{% url 'task-update' task.id %}"><i class="fas fa-edit"></i></a></th>
          {%else%}
          <td data-toggle="tooltip" data-placement="top" title="Only the owner can update, you can comment though!"><i style="color:#CACACA " class="fas fa-edit"></i></i></td>
          {% endif %}
          <td><a href="{% url 'task-detail' task.id %}">{{task.title}}</a></td>
          <td>{{task.due_date|date:"F d, Y"}}</td>
          <td> <a href="{% url 'user-tasks' task.responsable %}">{{task.responsable}}</a> </td>
          {% if task.is_public == False %}
          <th  scope="row" data-toggle="tooltip" data-placement="top" title="Is Private"><i style="color: salmon; font-size: 1.2rem" class="fas fa-user-lock"></i></th>
          {% else %}
          <th  scope="row" data-toggle="tooltip" data-placement="top" title="Is Public"><i style="color: #123456 ; font-size: 1.2rem" class="fas fa-lock-open"></i></th>
          {% endif %}
          {% if task.Status == 'D' %}
          <td><i data-toggle="tooltip" data-placement="top" title="Good job! This task is done!" style="color: green; font-size: 1.2rem;" class="fas fa-check-circle"></i></td>
          {% elif task.Status == 'N' %}
          <td><i data-toggle="tooltip" data-placement="top" title="Not done/started!" style="color: rgb(216, 187, 92); font-size: 1.2rem;" class="fas fa-clipboard"></i></td>
          {% else %}
          <td><i data-toggle="tooltip" data-placement="top" title="In progress, keep the good work!" style="color: rgb(40, 95, 88); font-size: 1.2rem;" class="fas fa-tasks"></i></td>
          {% endif %}
          {% if task.departament == 'M' %}
          <td data-toggle="tooltip" data-placement="top" title="Marketing"><i style="color:#679436;font-size:1.2rem" class="fas fa-search-dollar"></i></td>
          {% elif task.departament == 'D' %}
          <td data-toggle="tooltip" data-placement="top" title="Development"><i style="color:#104547;font-size:1.2rem" class="far fa-file-code"></i></td>
          {% elif task.departament == 'H' %}
          <td data-toggle="tooltip" data-placement="top" title="Human Resources"><i style="color:#A53860;font-size:1.2rem" class="fas fa-universal-access"></i></i></td>
           {% elif task.departament == 'L' %}
          <td data-toggle="tooltip" data-placement="top" title="Legal"><i style="color:#8EB1C7;font-size:1.2rem" class="fas fa-balance-scale"></i></i></td>
           {% elif task.departament == 'F' %}
          <td data-toggle="tooltip" data-placement="top" title="Finance"><i style="color:#00AFB5;font-size:1.2rem" class="fas fa-hand-holding-usd"></i></i></td>
           {% else %}
          <td data-toggle="tooltip" data-placement="top" title="Other"><i style="color:#FE938C;font-size:1.2rem"  class="fas fa-ellipsis-h"></i></i></td>
          {% endif %}
          {% if task.author == user %}
          <td><a href="{% url 'task-delete' task.id %}"><i style="color: red;" class="fas fa-trash-alt"></i></a></td>
          {%else%}
          <td data-toggle="tooltip" data-placement="top" title="Sorry, only the Task author can delete this."><i style="color:#CACACA " class="fas fa-trash-alt"></i></i></td>
          {% endif %}
      </tr>
      {% endfor %}
      </tbody>
  </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% include "shared/footer.html" %}
{% endblock content %}