
{% extends "base.html" %}
{% block title %} Public Task Dashboard - {{user.username}} {% endblock title %}
{% block content %}
{% include "shared/nav.html" %}

<div class="container" style="margin-top: 10px;font-size: 0.8rem">
    
    <div style="margin-top: 15px;" class="card shadow mb-4">
      <!-- Card Header - Dropdown -->
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Seach Results for: {{ request.GET.q }}</h6>
      </div>
      <!-- Card Body -->
      <div class="card-body">
      <div class="chart-area table-responsive">
        <table class="table table-striped">
      <thead class="table-dark">
      <tr>
          <th scope="col" data-toggle="tooltip" data-placement="top" title="Task importance"><i class="fas fa-bookmark"></i></th>
          <th scope="col"></th>
          <th scope="col">Task</th>
          <th scope="col">Due Date</th>
          <th scope="col">Responsable</th>
          <th scope="col">Status</th>
          <th scope="col" data-toggle="tooltip" data-placement="top" title="Departament">Dep.</th>
          <th scope="col"></th>
      </tr>
      </thead>
       <tbody>
        {% for query in object_list %}
      <tr>
          {% if query.importance == "H" %}
          <th  scope="row" data-toggle="tooltip" data-placement="top" title="HIGH"><i style="color: red" class="fas fa-bookmark"></i></th>
          {% endif %}
          {% if query.importance == "M" %}
          <th scope="row" data-toggle="tooltip" data-placement="top" title="Medium"><i style="color: orange" class="fas fa-bookmark"></i></th>
          {% endif %}
          {% if query.importance == "L" %}
          <th scope="row" data-toggle="tooltip" data-placement="top" title="Low"><i style="color: purple" class="fas fa-bookmark"></i></th>
          {% endif %}
          {% if query.author == user %}
          <th scope="row"><a href="{{query.id}}/update"><i class="fas fa-edit"></i></a></th>
          {%else%}
          <td data-toggle="tooltip" data-placement="top" title="Only the owner can update, you can comment though!"><i style="color:#CACACA " class="fas fa-edit"></i></i></td>
          {% endif %}
          <td><a href="{{query.id}}">{{query.title}}</a></td>
          <td>{{query.due_date|date:"F d, Y"}}</td>
          <td> <a href="{% url 'user-tasks' query.responsable %}">{{query.responsable}}</a> </td>
          {% if query.Status == "P" %}
          <td><i data-toggle="tooltip" data-placement="top" title="On progress" style="color: blue; font-size: 1.2rem;" class="fas fa-hourglass-half"></i></td>
          {% endif %}
          {% if query.Status == "D" %}
          <td><i data-toggle="tooltip" data-placement="top" title="Good job! This task is done!" style="color: green; font-size: 1.2rem;" class="fas fa-check-circle"></i></td>
          {% endif %}
          {% if query.Status == "N" %}
          <td><i data-toggle="tooltip" data-placement="top" title="To-do, not started" style="color: orange; font-size: 1.2rem;" class="fas fa-clock"></i></td>
          {% endif %}
          {% if query.departament == 'M' %}
          <td data-toggle="tooltip" data-placement="top" title="Marketing"><i style="color:#679436;font-size:1.2rem" class="fas fa-search-dollar"></i></td>
          {% endif %}
          {% if query.departament == 'D' %}
          <td data-toggle="tooltip" data-placement="top" title="Development"><i style="color:#104547;font-size:1.2rem" class="far fa-file-code"></i></td>
          {% endif %}
          {% if query.departament == 'H' %}
          <td data-toggle="tooltip" data-placement="top" title="Human Resources"><i style="color:#A53860;font-size:1.2rem" class="fas fa-universal-access"></i></i></td>
          {% endif %}
           {% if query.departament == 'L' %}
          <td data-toggle="tooltip" data-placement="top" title="Legal"><i style="color:#8EB1C7;font-size:1.2rem" class="fas fa-balance-scale"></i></i></td>
          {% endif %}
           {% if query.departament == 'F' %}
          <td data-toggle="tooltip" data-placement="top" title="Finance"><i style="color:#00AFB5;font-size:1.2rem" class="fas fa-hand-holding-usd"></i></i></td>
          {% endif %}
           {% if query.departament == 'O' %}
          <td data-toggle="tooltip" data-placement="top" title="Other"><i style="color:#FE938C;font-size:1.2rem"  class="fas fa-ellipsis-h"></i></i></td>
          {% endif %}
          {% if query.author == user %}
          <td><a href="{{query.id}}/delete"><i style="color: red;" class="fas fa-trash-alt"></i></a></td>
          {%else%}
          <td data-toggle="tooltip" data-placement="top" title="Sorry, only the Task author can delete this."><i style="color:#CACACA " class="fas fa-trash-alt"></i></i></td>
          {% endif %}
      </tr>
      {% endfor %}
      </tbody>
  </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% include "shared/footer.html" %}
{% endblock content %}