{% extends "base.html" %}
{% block title %} Delete {{user.username}}'s account {% endblock title %}
{% load crispy_forms_tags %}
{% block content %}
{% include "shared/nav.html" %}

<section style="margin-top: 20px;" class="container ">
    <form action="." method="POST">
        {% csrf_token %}
        <div class="row justify-content-md-center ">
            <div class="card text-center text-DARK bg-LIGHT">
                <div class="card-header">
                Confirm account delete for <strong> {{user.username}}:</strong>
                </div>
                <div class="card-body">
                <h5 class="card-title">Are you sure you want to <strong style="color: red;">delete your account </strong>{{user.username}}?</h5>
                <p class="card-text"><strong>This action can't be undone. and ALL your data will be lost FOREVER!</strong></p>
                <p style="margin: 10px">  <a style="margin: 10px" class="btn btn-success btn-lg" href="/">Cancel</a> <input style="margin: 10px" class="btn btn-danger btn-lg" type="submit" value="Delete"/>
                </div>
                <div  class="card-footer text-muted">
                <p style="color: RED;"> Note: This action really can't be undone, <strong>nobody</strong> on the <br> Simple_Task team can reverse this action if you delete your account.</p>
                </div>
                <div  class="card-footer text-muted">
                    <a href="mailto:support@simpletask.com" target="_blank" rel="noopener noreferrer">I need help!</a>
                </div>
            </div>
        </div>
    </form>
</section>



{% include "shared/footer.html" %}
{% endblock content %}