{% extends "base.html" %}
{% block title %} Login  {% endblock title %}
{% load crispy_forms_tags %}
{% block content %}
{% include "shared/nav.html" %}
<style>
    .bg-register-image{
        background-image: url(https://cdn.pixabay.com/photo/2016/02/19/11/53/pug-1210025_960_720.jpg);
        background-position: center;
    }
    .bordradio{
        border-top-left-radius: 30px 50%;
        border-bottom-left-radius: 30px 50%;
    }
    .borderradioform{
        border-top-right-radius: 30px 50%;
        border-bottom-right-radius: 30px 50%;
    }
    #hint_id_username, #hint_id_password1 {
         display: none;
     }
</style>
    <div style="margin-top: -20px;" class="container">
        <div class="card o-hidden border-0 shadow-lg my-5 borderradioform bordradio">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div style="margin: 0 0 0 0;"  class="col-lg-5 d-none d-lg-block bg-register-image bordradio"></div>
              <div style="margin: 0 0 0 0;"  class="col-lg-7">
                <div class="p-5">
                  <form method="POST" class="user">
                    {% csrf_token %}
                    {{ form|crispy }}
                        <button class="btn btn-primary btn-user btn-block" type="submit"> <strong>Login!</strong> </button> 
                  </form>
                  <hr>
                  <div class="text-center">
                    <a class="small" href="{% url 'password_reset' %}">Forgot password?!</a> <hr>
                    <a class="small" href="{% url 'register' %}">New here? Join Today!</a> 
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% include "shared/footer.html" %}
{% endblock content %}