<style>
html,
body {
  height: 100%;
}
#sticky-footer {
  flex-shrink: none;
}
#page-content {
  flex: 1 0 auto;
}
</style>

<body class="d-flex flex-column">
    <div id="page-content">
      <div class="container text-center">
        <div class="row justify-content-center">
          <div class="col-md-7">
          </div>
        </div>
      </div>
    </div>
    <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
      <div class="container text-center">
        <small>Copyright &copy; Simple Task</small>
      </div>
    </footer>
  </body>